doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width')
  link(rel='stylesheet', href='/main.css')
  title Kinda Resume
body
  div!= contents
